.note-create-form{
    padding: 1rem;
     display: flex;
     gap: 1rem;
     justify-content: center;
     align-items: center;


}
.input-title{
    padding: 0.7rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    width: 15rem;

}
.description-title{
    padding: 0.7rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
     width: 15rem;
}
.note-create-form button{
    padding: 0.7rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}
.note{
    display: flex;
   gap: 0.6rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.note h1{
    font-size: 1.7rem;
}
.note .buttons{
    display: flex;
    gap: 1rem;
   width: 100%;
}
.note .buttons button{
    background-color: rgba(0, 0, 0, 0.343);
    color: rgb(156, 153, 153);
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
    width: 50%;
    cursor: pointer;
}
.note button:hover{
     background-color: rgba(0, 0, 0, 0.614);
}