*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ,
body ,
#root{
   height: 100%;
   width:100%;

}

html{
  background-color: #6c6c6c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  

}
.note{
 
    padding: 1rem;
  border: 1px solid black;
  width: 25vw;
  border-radius: 8px;
  background-color: #605757;
  margin: 10px;
}